version: '3'
services:
  varnish:
    image: varnish:6.3
    tmpfs: /usr/local/var/varnish:exec
    labels:
      # Replace example by your service name
      - "traefik.enable=true"
      - "traefik.http.services.example.loadbalancer.server.scheme=http"
      - "traefik.http.services.example.loadbalancer.server.port=80"
      - "traefik.http.services.example.loadbalancer.passhostheader=true"
      # Listen HTTP
      - "traefik.http.routers.example.entrypoints=http"
      - "traefik.http.routers.example.rule=Host(${HOSTNAME})"
      - "traefik.http.routers.example.service=example"
      # Listen HTTPS
      - "traefik.http.routers.example-secure.entrypoints=https"
      - "traefik.http.routers.example-secure.tls=true"
      - "traefik.http.routers.example-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.example-secure.rule=Host(${HOSTNAME})"
      - "traefik.http.routers.example-secure.service=example"
      # Apply middlewares
      - "traefik.http.routers.example-secure.middlewares=exampleAuth,exampleRedirectregex"
      - "traefik.http.routers.example.middlewares=exampleAuth,exampleRedirectregex,exampleRedirectscheme"
      # Define Middlewares
      # Add a Basic auth protection
      - "traefik.http.middlewares.exampleAuth.basicauth.users=${AUTH_BASIC}"
      # Add domain redirection (example non-www to www redir)
      - "traefik.http.middlewares.exampleRedirectregex.redirectregex.regex=${REDIRECT_REGEX}"
      - "traefik.http.middlewares.exampleRedirectregex.redirectregex.replacement=${REDIRECT_REPLACEMENT}"
      - "traefik.http.middlewares.exampleRedirectregex.redirectregex.permanent=true"
      # Add SSL redirection
      - "traefik.http.middlewares.exampleRedirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.exampleRedirectscheme.redirectscheme.permanent=true"
    depends_on:
      - app
    restart: always
    links:
      - app:app
    networks:
      - default
      - frontproxynet
    volumes:
      - ./default.vcl:/etc/varnish/default.vcl:ro

  app:
    # Application is a packaged docker image
    # hosted on Gitlab Registry (or hub.docker.com)
    image: registry.gitlab.com/example/example
    # These volumes contain all user DATA
    # and will be backuped if your backup container
    # uses --volumes-from option.
    volumes:
      - ./config.docker.yml:/var/www/html/app/conf/config.yml
      - private_files:/var/www/html/files
      - public_files:/var/www/html/web/files
      - gen_src:/var/www/html/app/gen-src/GeneratedNodeSources
      - proxies:/var/www/html/app/gen-src/Proxies
      - compiled:/var/www/html/app/gen-src/Compiled
    depends_on:
      - db
      - solr
    restart: always
    networks:
      - default
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  db:
    image: mysql:5.7
    networks:
      - default
    volumes:
      - DBDATA:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
    restart: always

  solr:
    image: solr:8-slim
    restart: always
    networks:
      - default
    volumes:
      - SOLRDATA:/var/solr
    command:
      - solr-precreate
      - roadiz

  backup:
    image: ambroisemaupate/ftp-backup
    networks:
      - default
    depends_on:
      - db
    environment:
      LOCAL_PATH: /var/www/html
      DB_USER: ${MYSQL_USER}
      DB_HOST: db
      DB_PASS: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
      FTP_PROTO: ${FTP_PROTO}
      FTP_PORT: ${FTP_PORT}
      FTP_HOST: ${FTP_HOST}
      FTP_USER: ${FTP_USER}
      FTP_PASS: ${FTP_PASS}
      REMOTE_PATH: ${FTP_REMOTE_PATH}
    volumes:
      - private_files:/var/www/html/files:ro
      - public_files:/var/www/html/web/files:ro
      - gen_src:/var/www/html/app/gen-src:ro

  backup_cleanup:
    image: ambroisemaupate/ftp-cleanup
    networks:
      - default
    environment:
      FTP_PROTO: ${FTP_PROTO}
      FTP_PORT: ${FTP_PORT}
      FTP_HOST: ${FTP_HOST}
      FTP_USER: ${FTP_USER}
      FTP_PASS:  ${FTP_PASS}
      STORE_DAYS: ${BACKUP_STORE_DAYS}
      FTP_PATH: ${FTP_REMOTE_PATH}
  
  # Automatically update when new images are available
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # Share private registry credentials
      - /root/.docker/config.json:/config.json
    # checks every 30 secs
    command: --interval 30
    environment:
      #WATCHTOWER_DEBUG: "true"
      WATCHTOWER_LABEL_ENABLE: "true"

volumes:
  private_files:
  public_files:
  gen_src:
  proxies:
  compiled:
  DBDATA:
  SOLRDATA:

networks:
  frontproxynet:
    external: true
