/*
!/.gitignore
!/example
!/example-se
!/example-roadiz-registry
!/example-gitlab-traefik
!/example-gitlab-runner
!/registry-mirror
!/example-gitlab
!/whoami
!/front-proxy
!/traefik
!/netdata


netdata/netdataconfig/netdata/*
!netdata/netdataconfig/netdata/.gitkeep

