services:
    runner:
        image: gitlab/gitlab-runner:latest
        restart: always
        privileged: true
        dns: ["1.1.1.1", "1.0.0.1"]
        volumes:
            - /etc/gitlab-runner/config:/etc/gitlab-runner
            - /var/run/docker.sock:/var/run/docker.sock
            - gitlab_runner:/home/gitlab-runner
volumes:
    gitlab_runner:
