#!/usr/bin/env bash
# Author: Ambroise Maupate

. `dirname $0`/ftp-credentials.sh || {
    echo "`dirname $0`/ftp-credentials.sh";
    echo 'Impossible to import your configuration.';
    exit 1;
}

NAME="examplegitlab"

#
# Perform backup
#
docker exec ${NAME}_gitlab_1 gitlab-rake gitlab:backup:create CRON=1;

#
# Use lftp to mirror Gitlab backups to an external FTP
# 
LFTP="$(which lftp)"
LFTP_CMD="-u ${FTP_USER},${FTP_PASS} ${FTP_PROTO}://${FTP_HOST}:${FTP_PORT}"
${LFTP} ${LFTP_CMD} <<EOF
cd /${NAME}
ls
mirror -c -e -R /srv/gitlab/data/backups /${NAME}
bye
EOF

#
# Transfer your backups to an external SSH server
#
#rsync -az --delete /srv/gitlab/data/backups/ user@mybackup:~/backups/${NAME}/
