#!/usr/bin/env bash
# Author: Ambroise Maupate

. `dirname $0`/ftp-credentials.sh || {
    echo "`dirname $0`/ftp-credentials.sh";
    echo 'Impossible to import your configuration.';
    exit 1;
}

NAME="mysite"

# Be careful to customize your DB name suffix
#  _db_1 for docker-composed websites
#  _DB for manually created websites
#
#  We add a CPU share constraint of 256 (a quarter)
docker run --rm -t --name="${NAME}_BCK" \
           -c=256 \
           # Use main app volumes to backup ONLY user data
           # making lots of space economy
           --volumes-from ${NAME}_app_1 \
           -e FTP_USER="${FTP_USER}" \
           -e FTP_PASS="${FTP_PASS}" \
           -e FTP_HOST="${FTP_HOST}" \
           -e FTP_PORT="${FTP_PORT}" \
           -e FTP_PROTO="${FTP_PROTO}" \
           -e DB_USER="mysite" \
           -e DB_HOST="mariadb" \
           -e DB_PASS="password" \
           -e DB_NAME="mysite" \
           # Use standard www-data website path
           -e LOCAL_PATH="/var/www/html" \
           -e REMOTE_PATH="/docker-bck/${NAME}" \
           # If you want to use a SSH/SFTP remote \
           #-e FTP_PROTO="sftp" \
           #-e REMOTE_PATH="/home/ambroisemaupate/docker-bck/${NAME}" \
           --link ${NAME}_db_1:mariadb \
           --network="${NAME}_default" \
           ambroisemaupate/ftp-backup;

# WARNING: Remove comments inside docker command!