#!/bin/bash
#
CONT_NAME="mysite";
HOSTS="www.mysite.com";

docker stop ${CONT_NAME} ${CONT_NAME}_DB ${CONT_NAME}_SSH;
docker rm ${CONT_NAME} ${CONT_NAME}_DB ${CONT_NAME}_SSH;

docker run  -d -t \
            --name=${CONT_NAME}_DB \
            --hostname="${CONT_NAME}-db" \
            -v ${CONT_NAME}_DBDATA:/data \
            --env="MARIADB_USER=${CONT_NAME}" \
            --env="MARIADB_PASS=XXXXXXXXXXX" \
            --restart="always" \
            ambroisemaupate/mariadb;

docker run  -d -t \
            --name=${CONT_NAME} \
            --hostname="${CONT_NAME}" \
            -e "ROADIZ_BRANCH=master" \
            -e "VIRTUAL_HOST=${HOSTS}" \
            -e "LETSENCRYPT_HOST=${HOSTS}" \
            -e "LETSENCRYPT_EMAIL=ambroise@rezo-zero.com" \
            -v ${CONT_NAME}_DATA:/data \
            --link="${CONT_NAME}_DB:mariadb" \
            --link="${CONT_NAME}_SOLR:solr" \
            --restart="always" \
            ambroisemaupate/roadiz;

docker run  -d -t \
            --name=${CONT_NAME}_SSH \
            --hostname="${CONT_NAME}-ssh" \
            -v ${CONT_NAME}_DATA:/data \
            --link="${CONT_NAME}_DB:mariadb" \
            --env="PASS=XXXXXXXXX" \
            -p "22/tcp" \
            "ambroisemaupate/light-ssh";

# Service cron start
#docker exec -ti --user=root ${CONT_NAME} bash -c 'service cron start'

# Add some crontab to roadiz
#docker exec -ti \
#            --user=core \
#            ${CONT_NAME} \
#            bash -c 'crontab -l | { cat; echo "* * * * * /usr/bin/php /data/http/bin/roadiz -h > /data/logs/crontab.log"; } | crontab -'
