#!/bin/bash
#
CONT_NAME="mysite_SOLR";
CORE_NAME="mysite";

docker run  -d -t \
            --name=$CONT_NAME \
            --restart="always" \
            solr;

sleep 3;
docker exec -it --user=solr $CONT_NAME bin/solr create_core -c $CORE_NAME;

# ASCIIFoldingFilterFactory for _txt fields <filter class="solr.ASCIIFoldingFilterFactory"/>
docker exec -it --user=solr $CONT_NAME sed -i'.dist' 's/<analyzer type=\"\(index\|query\)\">/<analyzer type=\"\1\">\n\t<filter class=\"solr\.ASCIIFoldingFilterFactory\"\/>/g' /opt/solr/server/solr/$CORE_NAME/conf/managed-schema;